* {
  color: white;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.clock,
.todolist,
.greetings,
.focus {
  display: flex;
  justify-content: center;
  align-content: center;
}

.todolist-item {
  text-align: center;
}
.weather {
  text-align: right;
  margin: 20px 20px;
}

.weather,
.linkedin,
.unsplash {
  font-size: 20px;
}

.clock-title {
  font-size: 100px;
}

.unsplash {
  margin: 20px !important;
  padding-top: 150px;
}

.image-location,
.first-last-name {
  display: flex;
  text-align: left;
}

#unsplash {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body {
  height: 100%;
}

#image {
  height: 50px;
  width: 50px;
}

.focus {
  padding-top: 75px;
  font-size: 40px;
}

.todolist-input {
  padding-top: 10px;
  width: 30%;
  height: 20%;
  background: 0;
  border: 0;
  border-bottom: 2px solid white;
  text-align: center;
  font-size: 40px;
  outline: 0;
}

p {
  font-size: 50px;
}

a {
  text-decoration: none;
  margin: 20px 20px;
  padding-top: 0 20px 0 20px;
}

li {
  list-style-type: none;
  font-size: 35px;
}
